
/* *{
  background-color: black;
 
} */
button{
    width: 16rem;
    height: 2.5rem;
    border-radius:50px;
  }
  
  .homePage{
    position: relative;
  }
  
  .hide{
    position: absolute;
  top:20%;
  /* width: 40%;
  height: 40%; */
  left: 25%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.877);  
  backdrop-filter: blur(40px);
  border-radius:1rem ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  
   
  }

  .formHeading{
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
  
    
  }
  
  .tagName{
     margin: .3rem;
  }
  input{
    border-radius: .3rem;
    border:2px solid grey;
  width:30rem;
  padding:1rem .6rem;
  margin:.4rem 2rem;
  font-size: 1rem;
  }
  .submit{
     font-size: 1rem;
     width:30rem;
     margin:1rem 2rem;
     padding:.6rem .6rem;
     background-color: rgba(128, 128, 128, 0.74);
     border-radius: 2rem;
     border:1px solid grey;
  
  }
  .exit{
    margin-left: 33.5rem;
    padding:0px;
    width:1rem;
    background-color: transparent;
    color:black;
    border-radius: 0px;
    border: 0px;
  }
  .exit>img{
    width:30px;
    height: 30px;
  }
  
  .status{
      margin: auto;
      text-align: center;
      font-size:x-large;
  }