.home{
    display: flex;
    background-color: white;
}
.left{
font-size: 1.5em;
display: flex;
flex-direction: column;
width: 100%;
max-width: 24%;
padding-left: 30px;
}
.left div {
    margin-left: 50px;
}
.middle{
    border: 1px solid #eff3f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
max-width: 43%;
}
.middle h1{
    margin: .8rem 0rem;
    height: 53px;
    padding: 0rem 1.0rem;
    fontSize: 1.4rem;
    fontWeight: 650;
    borderBottom: 1px solid #eff3f4;
    color: rgba(0, 0, 0, 0.849);
}
.right{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 33%;
}
